<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
	id="http://com.intel.tizen/modello_common" version="1.0.0" viewmodes="fullscreen">
	<access origin="*" subdomains="true"></access>
	<tizen:application id="Modello007.Common"
		package="Modello007" required_version="2.1" />
	<content src="index.html" />
	<icon src="icon.png" />
	<name>Modello Common</name>
</widget>
